BACKEND_PORT=3001
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:@localhost:5432/run_ecosystem_cc"
HASH_SALT_ROUNDS=10
JWT_SECRET=/GvTTJ64lrsrwgjyE3CBsp3ElJ3VpDU03Nlya947Hbft4avmoGWk91l2AbToWQwOmU7aU+/3sYDrbIaAfvNzqw==
JWT_EXPIRES_IN=86400
MIN_PASSWORD_LENGTH=6