BACKEND_PORT=3001
FRONTEND_URL="http://localhost:3000"

MONGODB_URI=mongodb+srv://db-admin:ZAQ%40WSX@cluster0.1oelwz0.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=amongus

JWT_SECRET=/GvTTJ64lrsrwgjyE3CBsp3ElJ3VpDU03Nlya947Hbft4avmoGWk91l2AbToWQwOmU7aU+/3sYDrbIaAfvNzqw==
JWT_ACCESS_TOKEN_EXPIRES_IN=86400